# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.local
.env.development
.env.uat
.env.production
!.env.example

# Test coverage
coverage

# Database files
*.db
*.db-shm
*.db-wal
